/* 取消页面中标签自带的空白 */
body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend,figure,figcaption{
    margin: 0;
    padding: 0;
}
html{
    overflow-x: hidden;
}
/* 默认字体 */
body{
    font-family:"微软雅黑";font-size:16px;
}
/* 取消加粗 */
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
/* 取消倾斜 */
em,i{
    font-style: normal;
}
/* 取消划线 */
a{
    text-decoration: none;
    color:#333;
}
/* 取消列表符号 */
ul,li,ol{
    list-style: none;
}
img,fieldset{
    border:0;
} 
img{
    display:block;
}
input,a{
    outline:none;
}

.fl{
    float: left;
}
.fr{
    float: right;
}
.clean:after{
    content: '..';
    clear: both;
    display: block;
    height: 0;
    /* 隐藏content内容 */
    overflow: hidden;
    /* 隐藏after伪元素 */
    visibility: hidden;
}
/* 解决低版本ie高度塌陷问题 */
.clean{
    zoom:1;
}